/*전체 적용되는 부분*/
body{background: black; 
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{list-style: none;}

/*타이틀 밑 줄의 굵기*/
hr{border: 0;
    height: 3px;
    background: white;}

/*타이틀*/
h1{color: white;
    text-align: center;
    font-size: 50px;}

p{margin-top: 120px;
    color: white;}

/*전체 글씨 색*/
a{color: white;}

.input{font-size: 12px;}

/*표로 만들어진 부분의 위치조정*/
li{display: inline-block;
    text-align: center;
    list-style: none;
    width: 30%; 
    font-size: 35px;}

li:first-child{border-radius: 10px 0 0 10px;}
li:last-child{border-radius: 0 10px 10px 0;}

/*검색창*/
.find{height: 30px;
    list-style: none;
    float: left;
    width: 80%; 
    margin: 0  10px 0 30px; 
    border-radius: 4px; 
    box-sizing: border-box;
    background-color: black;
    color: white;}
    
.find2{height: 30px;
    border-radius: 5px;
    float: left;
    background: black;
    color: white;}
.find2:hover{
    color: black;
    background-color: white;
}

/*이미지 파일 위치조정*/
img{width: 70%;
    height: 70%;
    text-align:center;
    float: center;
    padding-top: 15px;
}

#img2{width: 90%;
    text-align:center;
    float: center;
    padding-top: 15px;
    /*background-color: aqua;*/
}

#name li a{display: block;
    width: 70%;
    height: 70%;
    text-align: center;
    text-decoration: none;
}

/*아이디 비밀번호 디자인*/
#login{width: 200px ;
    height: 70%;
    float: right;
    background-color: black;
    color: white;}

.clik{border-radius: 5px;
    background: black;
    color: white;
}

.clik:hover{color: black;
    background-color: white;
}
